{% if collections.posts.length %}
<section class="post-list">
    <ul>
        {% for post in collections.posts %}
        <li class="post-list__item">
            <h3><a class="post-list__link" href="{{ post.url }}">{{ post.data.pageTitle }}</a></h3>
            <p class="post-list__date">{{ post.date }}</p>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}